#ArticleTitle {
    padding-top: 30px;
    /* background-color: rgba(255, 255, 255, 0.6); */
}

body {
    /* background: url(../image/bg.png) no-repeat fixed; */
    margin: 0;
    background-color: white;
}

