body {
    margin: 0;
    /* background-color: #eee; */
}

.navbar-custom {
    padding: 0;
    /* position: sticky; */    /*设置顶端导航栏浮动*/
    top:0;
    background-color: rgba(255, 255, 255, 0.4);
    border-bottom: 1px solid #DDD;
    width: 100%;
    height: 42px;
    z-index: 200;
}

.navbar-custom .navbar-nav .nav-item .nav-link{
    font-size: 12px;
}


.nav-bg{
    /* 主页海报 */
    background-image: url(../image/Navbg.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-color: #eee;
    height: 200px;
    width: 100%;
    position: absolute;
    z-index: 10;
    display: flex;
}

.nav-person{
    /* Flex布局：右对齐 */
    justify-content: flex-end;
}

.profile-pic-location{
    /* 头像位置调整 */
    padding: .2rem .2rem;
}

.profile-pic{
    /* 右上角个人头像大小设置 */
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.navbar-light .navbar-nav .nav-link{
    /* 导航栏颜色设置 */
    color: black;
}

#nav-left ul > li + li {
    /* 设置最顶端导航栏的文字间距 */
    margin-left: 10px;
}

.carousel{
    /* 轮播图盒子设置 */
    height: 200px;
}

.app-board{
    background-color: grey;
    padding: 0 1rem 0 1rem; /* 上 右 下 左 */
    margin-bottom: 0.5rem;
}

.app{
    padding: 0;
}

.div-con{
    display: flex;
}

.app-left{
    flex-flow: column wrap;
    width: 70%;
    background-color: aqua;
}

.app-right{
    flex-flow: column wrap-reverse;
    width: 30%;
    background-color: coral;
}

.app-board-label {
    /* 公告栏下p标签底外边距置0 */
    margin-bottom: 0;
}

.article-content{
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
}

.article-title {
    display: flex;
    align-items: center;
}

.footer {
    width: 100%;
    height: 300px;
    background-color: crimson;
}


/* 小屏幕的显示：最大像素不超过 992px 时 */
@media screen and (max-width: 992px) {
	.app-right-show {
        display:none; 
    }
    .app-left-show {
        width: 100%;
    }
}